*.xcodeproj
*.pdx
/build/
/doxygen/
/Source/pdex.bin
/Source/pdex.dylib
/Source/pdex.elf
/Source/pdex.so
/Source/scripts/
.vscode
*.zip

# symbol file, for manually checking alignment
syms*.txt

# paranoia
*.gb
*.gbc